NEXT_PUBLIC_SUPABASE_URL=https://wkzczbescppkkiykjypf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndremN6YmVzY3Bwa2tpeWtqeXBmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1NjM0NDksImV4cCI6MjA5NTEzOTQ0OX0.parVHLhHLsUusuB63uDtE4Yb8S0mdehvMNaDy2Bnp8A
